.Section4{
    height: calc(100vh - 60px);
    width: calc(100% - 40px);
    background-color: black;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
}

.Section4H3{
    color: white;
    margin: 0 0;
    font-size: 3vw;
    display: flex;
    align-items: center;
}


.Section4H3>svg{
    height: 100%;
    width: 35px;
}

.NewsCardsOuter{
    margin-top: 20px;
    height: calc(100% - 100px);
    width: calc(100% - 20px);
    background-color: black;
    padding: 10px 10px;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    flex-wrap: nowrap;
}

.NewsCardsOuter::-webkit-scrollbar{
    display: none;
}


@media screen and (max-width: 768px){
    .Section4H3{
        font-size: larger;
    }
}

