.OrderHistoryCard{
    box-sizing: border-box;
    width: 90%;
    min-height: 70px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.OrderHistoryCardDiv1>h2{
    color: black;
    margin: 0 0;
}

.OrderHistoryCardDiv1>p{
    margin: 0 0;
    color:  black;
    font-size: small;
}

.OrderHistoryCardDiv2{
    height: 80%;
    width: 100px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.OrderHistoryCardDiv2>p{
    margin: 0 0;
    text-align: center;
}